@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Neucha&display=swap");
$maincolor: #192f2d;
$colorwhite: white;
$colorborders: #24c5db42;

* {
  margin: 0;
  padding: 0;
}
