@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Neucha&display=swap');
$maincolor: #192F2D;
$colorwhite:white;
$colorborders:#24C5DB42;
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100vw;
    background-image:url(./img/annie-spratt-zh7GEuORbUw-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_block{
    width: 600px;
    height: 250px;
    border: 2px solid $colorborders;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorwhite;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    font-family: 'Neucha';
    font-size:50px;
}
.button_start{
    height: 50px;
    width: 300px;
    border: 2px solid $colorborders;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    margin-top: 5vh;
    text-decoration: none;
}
.p_button_start{
    color: $colorwhite;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
}
.Link{
    text-decoration: none;
}
.footer{
    // font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    display: flex;
    align-items: center;
   color: $colorwhite;
    height: 10vh;
    width: 100vw;
    background-color:$maincolor;
    div{
        margin: 5vw;
    }
}
.footer_logo{
    font-size:30px;
}

